fastapi
uvicorn
flask-cors
gunicorn
ta
TA-Lib
python-dotenv
tvdatafeed-enhanced
websocket-client>=1.7.0
flask-socketio
pandas
requests
urllib3<2
six
eventlet
matplotlib
aiohttp
gevent>=24.2.1
alpha_vantage==2.3.1
alpaca-py
yfinance
yahoo_fin
tradingview-screener
websockets>=13.0
tvscreener
tradingview_ta
PyYAML==6.0.1
flask_sock
